  <% if user_signed_in? %>
    <% if @migraines.any? %>
      <% @migraines.each do |migraine| %>
        <div class='container'>
          <p><%= "Migraine Date: #{migraine.date}" %></p>
          <p><%= "Migraine Severity: #{migraine.severity}"%></p>
          <p><%= "Phenylalanine Level: #{migraine.phen_level} grams"%></p>
        </div>
        <% end %>
    <% else %>
        <div class='container'>
          <h2>No Migraines Recorded</h2>
        </div>
    <% end %>
  <% end %>
