<div class='container'>
  <% if user_signed_in? %>
    <h5><%= "Welcome #{User.find(current_user.id).email} to 'The Migraine Tracker' " %></h5>
  <% else %>
  <h1>Welcome to 'The Migraine Tracker'</h1>
  <div class='container'>
      <h4>Sign in to:</h4>
      <ul>
        <li>Record a meal</li>
        <li>Record a migraine</li>
        <li>View your migraine history</li>
      </ul>
    </div>
  <% end %>
</div>
