    <form id='groups_form'>
      <label>Please select food type:</label>
      <select id='groups_select'></select>
    </form>

    <form id="find_food">
      <label>Enter a food keyword:</label>
      <input type="text" placeholder="eg cheese" id="find_food_field">
      <input type="submit" id="find_food_submit">
    </form>

    <form id='choose_from_list' action='/foods' method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <label>Choose the closest match:</label>
      <select id="foods"></select>
      <label>Enter food quantity in grams:</label>
      <input type='number' id='food_weight'>
      <input type='hidden' id='name' name='name'>
      <input type='hidden' id='food_quant' name='food_quant'>
      <input type='hidden' id='phen_quant' name='phen_quant'>
      <input type="submit" value="Submit" id='select_food'>
    </form>
