.navbar {
  margin-bottom: 30px;
  background-color: lightblue;
}

.migraines {
  background-color: lightgreen;
  margin-bottom: 5px;
  opacity: 0.8;
}

.home-page {
  background-image: url('migraine-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.home-text {
  color: lightyellow;
  float: right;
  margin-right: 100px;
}

.sign_up_form  {
  margin-top: 5%;
}

.sign_in_form {
  margin-top: 5%;
}

.no-recorded {
  color: lightyellow;
  float: right;
  margin-right: 100px;
}
